body {
  font-size: 14px;
  color: #333333;
  width: 100%;
  font-family: "微软雅黑";
  line-height: 24px;
  background: #ffffff;
  position: relative;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
p {
  margin: 0;
}
a {
  text-decoration: none !important;
}
.clear {
  clear: both;
}
.slick-slide {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.max_w1200 {
  max-width: 1200px;
  margin: auto;
}
